<h3 class="text-center">所有任务</h3>

<div class="user-tasks">
  <div class="container tasks">
    <% @tasks.each do |task| %>
      <div class="task-item col-xs-8 col-xs-offset-2">
        <div class="col-xs-8">
          <p><%= link_to task.title, admin_task_path(task) %> </p>

        </div>
        <div class="col-xs-4">
          <p>等级：<%= "1" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
