<div class="lp">
  <div class="img-header">
    <div class="join-btn shadow">
      <%= link_to "立即加入", '#' %>
    </div>

  </div>


  <div class="line"><span>传说中的分割线</span></div>

  <div class="teams">

  </div>

  <div class="line"><span>传说中的分割线</span></div>

</div>
