<div class="lp">
  <div class="img-header">
    <div class="join-btn shadow">
      <%= link_to "立即加入", '#' %>
    </div>


  </div>
  <div class="ask">
    <div class="ask-left">
      <span>学习过程中是否经常遇到问题</span>
    </div>
    <div class="ask-right">
      <span>我们的学习小组可以帮你解决!</span>
    </div>
  </div>

  <div class="img-middle">
    <%= image_tag 'lp02.png' %>

    <br>
    <%= image_tag "lp03.png" %>

  </div>

  <div class="line"><span>传说中的分割线</span></div>

  <div class="teams">

  </div>

  <div class="line"><span>传说中的分割线</span></div>

</div>
