/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

// global css
html {
  height: 100%;
}
body {
  min-height: 100%;                                   // footer固定底部
  display: flex;                                       // footer固定底部
  flex-direction: column;
  font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans",
  "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC",
  "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei,
  "WenQuanYi Zen Hei Sharp", sans-serif;
  background-color: #f9f9fa;
  color: #333;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.navbar {
  margin-bottom: 0;
  background-color: #333;
  border: none;
  border-radius: 0;
  letter-spacing: 0.05em;
  .navbar-brand {
    padding-top: 0px;
    img {
      width: 190px;
      height: 50px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      > li{
        > a {
          color: #eee;
          &:hover, &:focus {
            color: #bbb;
          }
        }
      }
      .dropdown {
        .dropdown-menu {
          // background-color: #333;
          // color: #333;
          a {
            // color: #333;s
          }
        }
      }
    }
  }
}

footer {
  background-color: #EAEEF1;
  .logo-part {
    margin: 20px auto 30px;
  }
  .list-part {
    ul {
      list-style: none;
      li {
        padding-left: 30%;
        font-size: 1.2em;
        &.first-line {
          font-weight: bold;
        }
      }
    }
  }
  .img-part {
    clear: left;
    margin: 0px auto 20px;
  }
  .white-space {
    border: 2px solid white;
    margin: auto -15px ;
  }
  .footer-down {
    border-top: 3px solid white;
    height: 50px;
    p {
      margin-top: 10px;
    }
  }
}

.field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
   .error {
     color: $state-danger-text;
   }
}
