<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 打怪学院
        <br>Design by
        <a href="http://www.amdoing.com" target=_new>Derrick</a>
    </p>
</footer>
